IMPORT io.shiftleft/default
IMPORT io.shiftleft/defaultdict

###############################################################################
# Policy file for ShiftLeft NG SAST
# All findings containing the tag CHECK would get suppressed.
# Refer to https://docs.shiftleft.io/ngsast/policies/custom-policies
###############################################################################

###############################################################################
# Sink methods #
###############################################################################

###############################################################################
# Category Remote Code Execution #
###############################################################################
TAG "CHECK" METHOD -f "org.springframework.expression.spel.standard.SpelExpressionParser.parseExpression:org.springframework.expression.Expression(java.lang.String)"

###############################################################################
# Category Directory Traversal #
###############################################################################
TAG "CHECK" METHOD -f "java.io.File.<init>:void(java.lang.String)"

###############################################################################
# Category Deserialization #
###############################################################################
TAG "CHECK" METHOD -f "java.io.ObjectInputStream.readObject:java.lang.Object()"

###############################################################################
# Category File Write #
###############################################################################
TAG "CHECK" METHOD -f "java.io.FileOutputStream.write:void(byte[])"

###############################################################################
# Category Sensitive Data Leak #
###############################################################################
TAG "CHECK" METHOD -f "io.shiftleft.controller.AccountController.createAccount:io.shiftleft.model.Account(io.shiftleft.model.Account)"
TAG "CHECK" METHOD -f "io.shiftleft.controller.AccountController.depositIntoAccount:io.shiftleft.model.Account(double,long)"
TAG "CHECK" METHOD -f "io.shiftleft.controller.AccountController.withdrawFromAccount:io.shiftleft.model.Account(double,long)"
TAG "CHECK" METHOD -f "io.shiftleft.controller.CustomerController.debug:java.lang.String(java.lang.String,int,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,javax.servlet.http.HttpServletResponse,org.springframework.web.context.request.WebRequest)"
TAG "CHECK" METHOD -f "java.io.PrintStream.println:void(java.lang.String)"
TAG "CHECK" METHOD -f "javax.servlet.ServletOutputStream.println:void(java.lang.String)"
TAG "CHECK" METHOD -f "javax.servlet.http.HttpServletResponse.addHeader:void(java.lang.String,java.lang.String)"
TAG "CHECK" METHOD -f "javax.servlet.http.HttpServletResponse.setHeader:void(java.lang.String,java.lang.String)"
TAG "CHECK" METHOD -f "org.apache.http.impl.auth.BasicScheme.authenticate:org.apache.http.Header(org.apache.http.auth.Credentials,org.apache.http.HttpRequest,org.apache.http.protocol.HttpContext)"
TAG "CHECK" METHOD -f "org.apache.http.impl.client.CloseableHttpClient.execute:org.apache.http.client.methods.CloseableHttpResponse(org.apache.http.client.methods.HttpUriRequest)"
TAG "CHECK" METHOD -f "org.slf4j.Logger.info:void(java.lang.String,java.lang.Object)"

###############################################################################
# Category XSS #
###############################################################################
TAG "CHECK" METHOD -f "io.shiftleft.controller.AppErrorController.error:org.springframework.http.ResponseEntity(javax.servlet.http.HttpServletRequest)"
TAG "CHECK" METHOD -f "io.shiftleft.controller.CustomerController.debug:java.lang.String(java.lang.String,int,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,java.lang.String,javax.servlet.http.HttpServletResponse,org.springframework.web.context.request.WebRequest)"
TAG "CHECK" METHOD -f "io.shiftleft.repository.CustomerRepository.save:java.lang.Object(java.lang.Object)"

###############################################################################
# Category Header Injection #
###############################################################################
TAG "CHECK" METHOD -f "javax.servlet.http.HttpServletResponse.setHeader:void(java.lang.String,java.lang.String)"

###############################################################################
# Category Session Injection #
###############################################################################
TAG "CHECK" METHOD -f "javax.servlet.http.HttpSession.setAttribute:void(java.lang.String,java.lang.Object)"
###############################################################################

###############################################################################
# All methods (Uncomment as needed) #
###############################################################################
# TAG "CHECK" METHOD -f "io.shiftleft.controller.AdminController.isAdmin:boolean(java.lang.String)"
# TAG "CHECK" METHOD -f "io.shiftleft.controller.AppErrorController.getStatus:org.springframework.http.HttpStatus(javax.servlet.http.HttpServletRequest)"
# TAG "CHECK" METHOD -f "io.shiftleft.controller.CustomerController.dispatchEventToSalesForce:void(java.lang.String)"
# TAG "CHECK" METHOD -f "io.shiftleft.controller.CustomerController.getCustomer:io.shiftleft.model.Customer(java.lang.Long)"
# TAG "CHECK" METHOD -f "io.shiftleft.model.Account.toString:java.lang.String()"
# TAG "CHECK" METHOD -f "io.shiftleft.model.Customer.<init>:void(java.lang.String,int,java.lang.String,java.lang.String,java.util.Date,java.lang.String,java.lang.String,java.lang.String,java.lang.String,io.shiftleft.model.Address,java.util.Set)"
# TAG "CHECK" METHOD -f "io.shiftleft.model.Customer.getId:long()"
# TAG "CHECK" METHOD -f "io.shiftleft.model.Customer.toString:java.lang.String()"
# TAG "CHECK" METHOD -f "io.shiftleft.model.Patient.toString:java.lang.String()"
